<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center text-muted"><em class="small">Etomica is dedicated to the memory of Bryan Mihalick.</em></p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul class="list-unstyled small" id="footer-links">
                    <li><a href="http://www.cheme.buffalo.edu/">Department of Chemical & Biological Engineering</a></li>
                    <li><a href="http://www.ccr.buffalo.edu/">Center for Computational Research</a></li>
                    <li><a href="http://www.buffalo.edu/">University at Buffalo</a></li>
                    <li><a href="http://www.eng.buffalo.edu/">School of Engineering and Applied Sciences</a></li>
                </ul>
            </div>

            <div class="col text-center text-muted">
                <img id="nsf-logo" src="/img/nsf1.gif" alt="" class="img-fluid">
                <img id="ub-logo" src="/img/ub_logo.png" alt="" class="img-fluid">

                <p class="small">
                    This material is based on work supported by the National Science Foundation and performed in the Chemical & Biological Engineering Department
                    of the University at Buffalo.
                </p>
            </div>
        </div>
    </div>

</footer>