
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %}{{ page.title | escape }} • {{site.title | escape}}{% else %}{{ site.title | escape }}{% endif %}</title>
        <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

        {% if page.css %}
            {% for url in page.css %}
            <link rel="stylesheet" href="{{url}}">
            {% endfor %}
        {% endif %}
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Fira+Mono" rel="stylesheet">
        <script src="https://use.fontawesome.com/da1e49c847.js"></script>
    </head>

    <body>
        {% include navbar.html %}

        {{ content }}

        {% include footer.html %}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
                                                                                           crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
                                                                                                  crossorigin="anonymous">
        </script>
        {% if page.js %}
            {% for url in page.js %}
            <script src='{{url}}'></script>
            {% endfor %}
        {% endif %}
    </body>

</html>