
.benchmark-graph {
    width: 100% !important;
    height: 40vh !important;
    margin-bottom: 4rem;
}

.dygraph-legend {
    border: 1px solid;
    border-color: $brand-primary;
    border-radius: 3px;
    padding: 3px;
    background: rgba(255, 255, 255, 0.7);
}