@import 'footer';
@import 'news';
@import 'presentations';
@import 'home';

.navbar {
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
}
.navbar-brand {
	font-family: 'Fira Mono', monospace;
	font-size: 2rem;
}

.navbar-toggler {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
