---
# Only the main Sass file needs front matter (the dashes are enough)
---
$brand-primary: #005bbb;
$navbar-inverse-color: rgba(255, 255, 255, 0.7);

$enable-shadows: true;
$enable-gradients: true;

@import 'bootstrap';
@import 'layout';
@import 'syntax';
@import 'benchmarks';
