---
layout: base
js:
- https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js
- //cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.js
- /js/benchmarkGraphs.js
- /js/synchronizer.js
css:
- //cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.css
---

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <h1>Benchmarks</h1> 
        </div>
    
        <div class="col-8">

            <div class="row no-gutters" id="graphs-container">
            </div>
        </div>

    </div>

</div>