---
layout: default
active: home
---


<div class="jumbotron" id="intro-jumbotron">
    <h1 class="display-4">
        A flexible Java framework for constructing molecular simulations
    </h1>
    <div class="d-flex justify-content-center mt-3">
        <a href="{{ site.guide-link }}" class="btn btn-primary btn-lg mx-2"><i class="fa fa-fw fa-book"></i> Get Started</a>
        <a href="https://github.com/etomica/etomica" class="btn btn-primary btn-lg mx-2"><i class="fa fa-fw fa-code"></i> GitHub</a>
    </div>
</div>
